<a href="https://colab.research.google.com/github/Chetan3200/OCR_Project_Wids/blob/master/Task_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf
from tensorflow import keras
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

%matplotlib inline
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path_1 = "/content/drive/MyDrive/OCR/emnist-balanced-train.csv"
path_2 = "/content/drive/MyDrive/OCR/emnist-balanced-test.csv"

In [4]:
train = pd.read_csv(path_1)
test = pd.read_csv(path_2)

In [5]:
label = train['45']
train = train.drop('45', axis = 1)

In [6]:
test_label = test['41']
test = test.drop('41', axis = 1)

In [7]:
print(label.shape)
print(train.shape)

(112799,)
(112799, 784)

In [8]:
train_copy = train.copy()

# Using neural network to classify the dataset

In [9]:
label

0         36
1         43
2         15
3          4
4         42
          ..
112794    22
112795    17
112796    23
112797    31
112798     8
Name: 45, Length: 112799, dtype: int64

In [10]:
label.to_frame()

        45
0       36
1       43
2       15
3        4
4       42
...     ..
112794  22
112795  17
112796  23
112797  31
112798   8

[112799 rows x 1 columns]

In [11]:
train = train.to_numpy()

In [12]:
train = train/255
train.shape

(112799, 784)

In [13]:
model = keras.Sequential([
    keras.layers.Dense(100, input_shape=(784,), activation='relu'),
    keras.layers.Dense(47, activation='sigmoid')
])

model.compile(optimizer='adam',
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])

model.fit(train, label, epochs=5)

Epoch 1/5
3525/3525 [==============================] - 10s 3ms/step - loss: 1.1205 - accuracy: 0.6817
Epoch 2/5
3525/3525 [==============================] - 9s 3ms/step - loss: 0.7064 - accuracy: 0.7832
Epoch 3/5
3525/3525 [==============================] - 9s 3ms/step - loss: 0.6021 - accuracy: 0.8089
Epoch 4/5
3525/3525 [==============================] - 9s 3ms/step - loss: 0.5493 - accuracy: 0.8224
Epoch 5/5
3525/3525 [==============================] - 9s 3ms/step - loss: 0.5167 - accuracy: 0.8302

In [14]:
model.evaluate(test,test_label)

588/588 [==============================] - 1s 2ms/step - loss: 99.3862 - accuracy: 0.8010

[99.38616943359375, 0.8010000586509705]

In [15]:
train = train[0:50000]
label = label[0:50000]

In [16]:
# from sklearn.linear_model import LogisticRegression
# lreg = LogisticRegression()
# lreg.fit(train, label)

In [17]:
# lreg.score(test, test_label)

In [18]:
#The following two code is to check what figure looks like and what is stored in the label.
# ascii_code = []
# for i in range(48, 58):
#     ascii_code.append(chr(i))
# for i in range(65,91):
#     ascii_code.append(chr(i))
# x = [97 ,98 ,100, 101, 102, 103, 104, 110, 113, 114, 116]
# for i in x:
#     ascii_code.append(chr(i))

# mapped_dictionary = {}
# for i in range(0,47):
#     mapped_dictionary[i] = ascii_code[i]

# # mapped_dictionary
# for i in range(0,112799):
#     label[i] = mapped_dictionary[label[i]]

In [19]:
# m = train_copy.iloc[0].to_numpy()
# m = m.reshape(28,28)
# m = m.T
# m = m/255
# sns.heatmap(m, cmap='binary', cbar = False, xticklabels=False, yticklabels=False)
# plt.show()

In [20]:
# label[0]